@model CodigoLimpioEntityFrameWork.Models.ideaHerramienta

@{
    ViewBag.Title = "Crear Herramienta";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<h2>CREAR HERRAMIENTA</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.Hidden("idIdea", (int)ViewBag.idIdea)

        <ol>
            @foreach (var herramienta in ViewBag.Herramientas)
            {
                <li>@herramienta.nombreHerramienta</li>
            }
        </ol>

        <div class="form-group">
            @Html.LabelFor(model => model.idHerramienta, "Número de Herramienta", htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idHerramienta, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                @Html.ValidationMessageFor(model => model.idHerramienta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CREAR HERRAMIENTA" class="btn btn-default crear_herramienta-btn" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="Terminar_formulario">
            @Html.ActionLink("TERMINAR FORMULARIO", "Create", "DesarrolloRegionals", new { id = ViewBag.idIdea }, new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>

    h2 {
        font-family: 'Roboto', sans-serif;
        margin-left: 70px;
    }

    body {
        background-image: url('../../Imagenes/Imagen_crear_idea.png');
        background-size: 50%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .control-label {
        margin-bottom: 20px;
    }


    .text {
        margin-top: 15px;
        font-family: Consolas;
        font-size: 18px;
    }

    .form-horizontal {
        margin-left: 80px;
    }

    .crear_herramienta-btn {
        font-size: 16px;
        text-align: center;
        background-color: #F2A154;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        top: 20px;
        margin-left: 35px;
    }

    .Terminar_formulario {
        margin-top: 100px;
        margin-left: 125px;
        background-color: lightseagreen;
        width: 200px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
    }



</style>

