@model CodigoLimpioEntityFrameWork.Models.Miembro

@{
    ViewBag.Title = "EDITAR MIEMBRO";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<h2>EDITAR MIEMBRO</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idMiembro)

        <div class="form-group">
            @Html.LabelFor(model => model.nombreMiembro, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreMiembro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreMiembro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellidoMiembro, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellidoMiembro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellidoMiembro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cedulaMiembro, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cedulaMiembro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cedulaMiembro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correoMiembro, htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correoMiembro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correoMiembro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar Cambios" class="btn btn-default guardar_cambios-btn" />
            </div>
        </div>
    </div>
}

<div class="Regresar">
    @Html.ActionLink("REGRESAR", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>

    body {
        background-image: url('../../Imagenes/Imagen_editar.png');
        background-size: 90%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    .text {
        margin-top: 15px;
        font-family: Consolas;
        font-size: 18px;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        left: 5px;
        position: relative;
        top: 5px;
    }

    .guardar_cambios-btn {
        font-size: 18px;
        text-align: center;
        background-color: #F2A154;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        left: 45px;
        top: 20px;
    }

    .Regresar {
        position: relative;
        margin-top: 70px;
        display: inline-block;
        padding: 5px;
        background-color: #F2A154;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: auto;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        color: #FFFFFF;
    }
</style>
