@model CodigoLimpioEntityFrameWork.Models.Idea

@{
    ViewBag.Title = "DETALLES IDEA";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<h2>DETALLES DE LA IDEA</h2>

<div class="detalles">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.nombreIdea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreIdea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ideaColor)
        </dt>
        <dd>
            @foreach (var ideaColor in Model.ideaColor)
            {
                <div>@ideaColor.Color.nombreColor</div>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ideaHerramienta)
        </dt>
        <dd>
            @foreach (var ideaHerramienta in Model.ideaHerramienta)
            {
                <div>@ideaHerramienta.Herramienta.nombreHerramienta</div>
            }
        </dd>


        <dt>
            @Html.DisplayName("Departamentos")
        </dt>
        <dd>
            @foreach (var departamento in ViewBag.Departamentos)
            {
                <div>@departamento.nombreDepartamento</div>
            }
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.inversionRequerida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inversionRequerida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingresosObjetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingresosObjetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inversionInfraestructura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inversionInfraestructura)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Idea", "Edit", new { id = Model.idIdea }) |
    @Html.ActionLink("Regresar", "Index")
</p>

<style>

    body {
        background-image: url('../../Imagenes/Imagen_detalles.png');
        background-size: 90%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        left: 10px;
        position: relative;
        top: 5px;
    }

    dd {
        margin-left: 25px;
        font-family: 'Raleway', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }

    dt{
        margin-left: 25px;
    }

    div.detalles{
        margin-top: 30px;
        background-color: white;
        width: 45%;
        height: 70%;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    
</style>
