@model IEnumerable<CodigoLimpioEntityFrameWork.Models.Idea>

@{
    ViewBag.Title = "GESTIÓN DE IDEAS";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">



<h2>GESTIÓN DE IDEAS</h2>

<p>
    @Html.ActionLink("CREAR NUEVA IDEA", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreIdea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inversionRequerida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingresosObjetivos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inversionInfraestructura)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreIdea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inversionRequerida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ingresosObjetivos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inversionInfraestructura)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idIdea }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idIdea }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.idIdea })
            </td>
        </tr>
    }

</table>

<style>

    h2 {
        font-family: 'Roboto', sans-serif;
        left: 170px;
        position: relative;
        top: 5px;
    }

    body {
        background-image: url('../../Imagenes/Imagen_gestiones.png');
        background-size: 50%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

</style>
