@model CodigoLimpioEntityFrameWork.Models.ideaMiembro

@{
    ViewBag.Title = "Miembro";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">

<h2>AÑADIR MIEMBROS</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Hidden("idIdea", (int)ViewBag.idIdea)

        <div class="form-group">
            @Html.LabelFor(model => model.idMiembro, "Cedula del Miembro:", htmlAttributes: new { @class = "text" })
            <div class="col-md-10">
              @Html.DropDownList("idMiembro", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idMiembro, "", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <input type="submit" value="AÑADIR MIEMBRO" class="btn btn-default añadir_miembro-btn" />

        </div>

        <div class="form-group">
            <div class="Asignar_Color">
                @Html.ActionLink("ASIGNAR COLOR", "Create", "ideaColors", new { id = ViewBag.idIdea }, new { @class = "tn btn-default btn-asignar_color" })
            </div>
        </div>

    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>

    body {
        background-image: url('../../Imagenes/Imagen_miembro.png');
        background-size: 90%;
        background-color: #A5EAF3;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    h2{
       font-family: 'Roboto', sans-serif;
       margin-left: 95px;
       position: relative;
       top: 70px;
    }

    .text {
        margin-top: 15px;
        font-family: Consolas;
        font-size: 18px;
    }

    .form-group{
        position: relative;
        top: 80px;
        left: 100px;

    }

    .Asignar_Color {
        position: relative;
        margin-top: 70px;
        display: inline-block;
        padding: 5px;
        background-color: #F2A154;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        width: auto;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        color: #FFFFFF;
    }

    .añadir_miembro-btn{
        font-size: 18px;
        text-align: center;
        background-color: #F2A154;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        border-radius: 40px;
        cursor: pointer;
        position: relative;
        left: 140px;
        top: 100px;
    }





</style>